@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.row, .column{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.justify-between {
    justify-content: space-between !important;
}

.w-30{
    width: 30%;
}

.container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to left bottom, #cbc7ff , #4b468d );
    display: grid;
    place-items: center;
    color: #fff;
    font-weight: bold;
}

.starter h1{
    margin-bottom: 100px;
    font-size: 50px;
    color: #482c8a;
}

#start-button{
    margin-top: 100px;
    border: none;
    background-color: #9f98ff;
    color: #fff;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.hide{
    display: none;
}

.game-wrapper{
    width: 80vw;
}

.game{
    height: 70vh;
}

.score, .winner{
    margin-bottom: 50px;
}

.winner{
    font-size: 36px;
}

.hand{
    width: 50%;
    text-align: center;
}



.right{
    transform: rotate(-90deg);
}


.left{
    transform: rotate(90deg);
}

#choices{
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
    background-color: #9f98ff;
    color: #fff;
    font-weight: bolder;
    margin: 0 12px;
}

#choices:focus{
    outline: none;
    border: none;
}

.choice{
    border: none;
    outline: none;
}

#go{
    padding: 8px 24px;
    border-radius: 12px;
    background-color: #9f98ff;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
